<% include ../partials/header %>

<div>
	<div>
		<h1 class= "styleHeader">Contact Us</h1>
		<p> INSERT CONTACT INFORMATION HERE </p>
	</div>
</div>

<% include ../partials/popularMovies %>
<% include ../partials/footer %>