<% include ../partials/header %>

  <div id="rightSide">  
    <h2>Sign In</h2>

    <form method="get" action="/register">
      <div class="positionForm"><label>Username</label><input  type="text" id="user"/></div>
      <div class="positionForm"><label>Password</label><input type="password1" id="password"/></div>
      <input class="button_input" type="submit" value="signIn" />
      <input class="button_input" type="submit" value="register" />
    </form>

    <h2>Website Description</h2>
    <div class="right_section">
      <p> 
        On our website we feature -- of our newest movie previews. If you are looking for certain types of movies check out our --- movie genres. Use our movie search bocs in the top right hand of corner to find movies in our data base.
      </p>                                                 
    </div>
  </div>


  <% include ../partials/latestMovies %>
  <% include ../partials/popularMovies %>

<% include ../partials/footer %>