<% include ../partials/header %>


<div>
  <div>
    <h1 class= "styleHeader">Create Account</h1>
    <form action="/register/submit" method="POST">
      <table>
        <tr>
          <td><label for="username">Username<span class="required">*</span></label></td>
          <td><input type="text" id="username" name="username"></td>
          <td id="elmUserNameError" class="errorMsg">&nbsp;</td>
        </tr>
        <tr>
          <td><label for="password">Password (6-8 characters)<span class="required">*</span></label></td>
          <td><input type="password" id="password" name="password"></td>
          <td id="elmPasswordError" class="errorMsg">&nbsp;</td>
        </tr>
        <tr>
          <td><label for="txtPWVerified">Verify Password<span class="required">*</span></label></td>
          <td><input type="password" id="txtPWVerified" name="pwVerified"></td>
          <td id="elmPWVerifiedError" class="errorMsg">&nbsp;</td>
        </tr>
        <tr>
          <td><label for="first_name">First Name<span class="required">*</span></label></td>
          <td><input type="text" id="first_name" name="first_name"></td>
          <td id="elmFirstNameError" class="errorMsg">&nbsp;</td>
        </tr>
        <tr>
          <td><label for="last_name">Last Name<span class="required">*</span></label></td>
          <td><input type="text" id="last_name" name="last_name"></td>
          <td id="elmLastNameError" class="errorMsg">&nbsp;</td>
        </tr>
        <tr>
          <td><label for="email">Email Address<span class="required">*</span></label></td>
          <td><input type="text" id="email" name="email"></td>
          <td id="elmEmailError" class="errorMsg"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input class="button_input" type="submit" id="btnSubmit">
            <input class="button_input" type="reset" value="CLEAR" id="btnReset">
          </td>
          <td>&nbsp; &nbsp;</td>
        </tr>
      </table>
    </form>

    <p><strong><%= message %></strong></p>
  </div>
</div>

<% include ../partials/footer %>